*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#2c3350;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: white ;
    width: 50%;
    border-radius: 10px;
    box-shadow: #ffffff 0px 4px 5px;
}
#form-1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    padding: 15px;
    justify-content: center;
    align-items: center;
}
.correo{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.correo input{
    width: 70%;
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    font-size: 16px;
    border-bottom: 1px solid #000000;
    text-align: center;
}
.correo button{
    width: 30%;
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    font-size: 16px;
    background-color: #2c3350;
    color: white;
    cursor: pointer;
}
.inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.inputs .code-input{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #000000;
    border-radius: 5px;
}
.inputs .code-input:focus{
    border-color: #2c3350;
    outline: none;
    box-shadow: 0 0 5px #2c3350;
}
.btncode{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}
.btncode button{
    width: 30%;
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    font-size: 16px;
    background-color: #2c3350;
    color: white;
    cursor: pointer;
}
.nuevaClave{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
}
.nuevaClave input{
    width: 70%;
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    font-size: 16px;
    border-bottom: 1px solid #000000;
    text-align: center;
}
.confirmarClave input{
    width: 70%;
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    font-size: 16px;
    border-bottom: 1px solid #000000;
    text-align: center;
}
.nuevaClave button{
    width: 30%;
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    font-size: 16px;
    background-color: #2c3350;
    color: white;
    cursor: pointer;
}
@media (max-width: 768px) {
    main{
        width: 90%;
    }
    .correo input, .nuevaClave input, .confirmarClave input{
        width: 90%;
    }
    .correo button, .nuevaClave button{
        width: 50%;
    }
}