*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#F5F7FA;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2c3350;
    color: white;
    width: 100%;
}
.gestionar{
    display: flex;
    gap: 10px;
}
section{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 90%;
}
.ingresarDatos{
    background-color:#2c3350;
    padding: 15px;
    border-radius: 10px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;

}
.IngresarMonto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;

} 
.IngresarMonto #IngresarMonto{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60%;
    border-radius: 10px;
    background-color: transparent;
    color: #F5F7FA;
    padding: 5px;
    border: 1px solid #F5F7FA;
    text-align: center;
    font-size: 1.2rem;
}
#IngresarMonto::placeholder{
    color: #F5F7FA;

}
.elegirCategoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;

} 
.elegirCategoria #elegirCategoria{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60%;
    border-radius: 10px;
    background-color: transparent;
    color: #F5F7FA;
    padding: 5px;
    border: 1px solid #F5F7FA;
    text-align: center;
    font-size: 1.2rem;
}
#elegirCategoria::placeholder{
    color: #F5F7FA;

}
select{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60%;
    border-radius: 10px;
    background-color: transparent;
    color: #F5F7FA;
    padding: 5px;
    border: 1px solid #F5F7FA;
    text-align: center;
    font-size: 1.2rem;;
}
select option{
    color: #2c3350;
}
.Tipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;

} 
.mes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;

} 
.btnEnviar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.btnEnviar button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 30%;
    border-radius: 10px;
    background-color: #97a0c1;
    color: white;
    padding: 5px;
    border: 1px solid #2c3350;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;

}
.btnEnviar button:hover{
    background-color: #8997d1;
    color: white;
}
.grafica{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: #2c3350;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px
    
}
.graficos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
;
}
.navegar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
ul li a{
    color: aliceblue;
}
.graficaDeColores{
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    gap: 20px;
    color:#F5F7FA;
    flex-wrap: wrap;

}
#graficoCircular{
    width: 50% !important;
    height: auto !important;
    aspect-ratio: 1/1;
    color: #F5F7FA;

}
.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.tablaEntradas {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-x: auto;
}

.tablaDatos{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
}
#tablaDatos thead th{
    background-color: #2c3350;
    color: white;
}
#tablaDatos thead th:first-child{
    border-radius: 10px 0 0 10px;
}
#tablaDatos thead th:last-child{
    border-radius: 0 10px 10px 0;
}
#tablaDatos th,
#tablaDatos td {
    padding: 8px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-link.active {
    background-color: #F5F7FA; 
    color: #2c3350 !important; 
}
.balanceAnual{
    background-color:#2c3350;
    padding: 15px;
    border-radius: 10px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
#logout{
    cursor: pointer;
}